<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
 <connectionStrings>
    <add name="dbString" connectionString="Data Source=LEOWHALES-2;Initial Catalog=usep_queue;Persist Security Info=True;User ID=sa;Password=123456; MultipleActiveResultSets = True" providerName="System.Data.SqlClient"/>
    <add name="Queuing_Application.Properties.Settings.usep_queuecs" connectionString="Data Source=LEOWHALES-2;Initial Catalog=usep_queue;Persist Security Info=True;User ID=sa;Password=123456" providerName="System.Data.SqlClient"/>
 </connectionStrings>
</configuration>